%p#notice= notice

= image_tag @user.avatar.url(:thumb)
%p
  %b Username:
  = @user.username
%p
  %b Password:
  = @user.password
%p
  %b Email:
  = @user.email
%p
  %b Dob:
  = @user.dob
%p
  %b City:
  = @user.city
%p
  %b Street:
  = @user.street
%p
  %b State:
  = @user.state
%p
  %b Years riding:
  = @user.years_riding
%p
  %b Bikes
  %ul
    - @user.bikes.each do |bike|
      %li= bike.make + ' ' + bike.model + ' ' + bike.year.to_s
= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', root_path #change to dashboard