<h1>Listing bikes</h1>

<table>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Mileage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bikes.each do |bike| %>
  <tr>
    <td><%= bike.make %></td>
    <td><%= bike.model %></td>
    <td><%= bike.year %></td>
    <td><%= bike.mileage %></td>
    <td><%= link_to 'Show', bike %></td>
    <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
    <td><%= link_to 'Destroy', bike, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bike', new_bike_path %>
