!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "sitecss"
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "table-designs"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      %header
        .header_content
          .login
            %p
              #user_nav
                - if user_signed_in?
                  Signed in as
                  = link_to current_user.email, edit_user_path(current_user.id)
                  = link_to "Sign out", destroy_user_session_path, method: :delete, class: "acct_button"
                - else
                  = link_to "Sign up", new_user_registration_path, class: "acct_button"
                  &nbsp;&nbsp;&nbsp;
                  = link_to "Sign in", new_user_session_path, class: "acct_button"
          .logo
            %img{height: "50", src: "/assets/Logo-Full(white).jpg", width: "120"}/
        .ribbon
          %nav.header_nav
            %ul
              %li
                %a{href: "http://ipro308.id.iit.edu/contact_us.php", title: "Support"} Support
              %li
                %a{href: "http://ipro308.id.iit.edu/aboutus.php", title: "About Us"} About Us
              %li
                %a{href: "/rides", title: "Rides"} Rides
              %li
                %a{href: "/bikes", title: "Bikes"} Bikes
              %li
                = link_to "Profile", user_path(current_user.id) if user_signed_in?
              %li
                %a{href: "index.php", title: "Dashboard"} Dashboard
      .container_24
        .grid_24.intro
          - if show_title?
            %h1= yield(:title)

          = yield
  
      %footer
        .ribbon
          .facebook
            %li
              %a{href: "https://www.facebook.com/IITinfoMoto"}
                Connect with us on Facebook!&nbsp;&nbsp;
                %img{src: "/assets/facebook.png"}